---
---

@import "{{ site.theme }}";

.button-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

button {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  background-color: #9A1212;
}

button:hover {
  background-color: #CD0101;
}

.map {
    width: 0;
    min-width: 100% !important;
    border: none;
}


img {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
}

table {
    width: 100%;
    padding: 10px;
    border: none;
}

td {
    padding: 10px;
    vertical-align: top;
    border: none;
}

#leftColumn {
    width: 25%;
    text-align: center;
}

#leftColumn button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

#centerColumn {
    width: 25%;
}

#rightColumn {
    width: 100%;
    text-align: center;
}

.darken-hover:hover {
filter: brightness(90%);
}

.cycle-hover {
    transition: background-color 0.5s ease-in-out;
}